<div class="col-md-3 com-sm-6 rel-data-card">

    <figure class="card-img">

        {{#if this.profile_path}}
        <img src='https://image.tmdb.org/t/p/w300{{this.profile_path}}' alt="{{this.name}}">
        {{/if}}

        {{#unless profile_path}}
        <img src='/images/personimg.png' alt="{{this.name}}">
        {{/unless}}

    </figure>

    <div class="card-text">
        <h5>{{this.name}}</h5>
        <p>{{this.character}}</p>
    </div>

    <a href="/actors/{{this.id}}" class="btn btn-info">Details</a>
</div>