<section class="container">
    <article class="row">
        <div class="col user">
            <h2>Welcome to your liked list, {{theUser.name}}</h2>
            <br>
            <a href="/profile/watchlist?id={{theUser.id}}" class="redirect">Go to Watchlist</a>
            <a href="/profile/seen?id={{theUser.id}}" class="redirect">Go to Seen</a>
            <a href="/profile" class="redirect">Go back to Profile</a>
        </div>
    </article>
    <article class="row">

        {{#if apiData}}
        <div class="col-md-6 list-column">
            <h4>Movies</h4>
            <hr>
            <div class="row justify-content-center">
                {{#each moviesLK}}
                <div class="col-md-6 indiv-card">
                    <a href="/movies/{{this.db_id}}">
                        {{#if poster_path}}
                        <img src="https://image.tmdb.org/t/p/w300{{this.poster_path}}" alt="{{this.title}}">
                        {{/if}}

                        {{#unless poster_path}}
                        <img src='/images/noimage.png' alt="{{this.title}}">
                        {{/unless}}

                        <h6>{{this.title}}</h6>
                    </a>
                    <form action="/profile/likes/remove?content=movies&db_id={{this.db_id}}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Remove from list</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-6 list-column">
            <h4>Series</h4>
            <hr>
            <div class="row justify-content-center">
                {{#each seriesLK}}
                <div class="col-md-6 indiv-card">
                    <a href="/series/{{this.db_id}}">
                        {{#if poster_path}}
                        <img src="https://image.tmdb.org/t/p/w300{{this.poster_path}}" alt="{{this.name}}">
                        {{/if}}

                        {{#unless poster_path}}
                        <img src='/images/noimage.png' alt="{{this.name}}">
                        {{/unless}}

                        <h6>{{this.name}}</h6>
                    </a>
                    <form action="/profile/likes/remove?content=series&db_id={{this.db_id}}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Remove from list</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}

        {{#if seedsData}}
        <div class="col-md-6 list-column">
            <h4>Movies</h4>
            <hr>
            <div class="row justify-content-center">
                {{#each theUser.seedslists.likes.movies}}
                <div class="col-md-6 indiv-card">
                    <a href="/movies/{{this.id}}">
                        {{#if poster_path}}
                        <img src="https://image.tmdb.org/t/p/w300{{this.poster_path}}" alt="{{this.title}}">
                        {{/if}}

                        {{#unless poster_path}}
                        <img src='/images/noimage.png' alt="{{this.title}}">
                        {{/unless}}

                        <h6>{{this.title}}</h6>
                    </a>
                    <form action="/profile/likes/remove?content=movies&id={{this.id}}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Remove from list</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-6 list-column">
            <h4>Series</h4>
            <hr>
            <div class="row justify-content-center">
                {{#each theUser.seedslists.likes.series}}
                <div class="col-md-6 indiv-card">
                    <a href="/series/{{this.id}}">
                        {{#if poster_path}}
                        <img src="https://image.tmdb.org/t/p/w300{{this.poster_path}}" alt="{{this.name}}">
                        {{/if}}

                        {{#unless poster_path}}
                        <img src='/images/noimage.png' alt="{{this.name}}">
                        {{/unless}}

                        <h6>{{this.name}}</h6>
                    </a>
                    <form action="/profile/likes/remove?content=series&id={{this.id}}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Remove from list</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </article>
</section>