<section class="container">

    <article class="row justify-content-center">
        <div class="col user">
            {{!-- <figure>
                <img src="{{user.img}}" alt="{{user.name}} profile picture">
            </figure> --}}
            <h2>Welcome {{user.name}}</h2>
            <hr>
        </div>
    </article>

    <article class="row justify-content-center">
        <div class="col-md-9">
            <h6>{{user.email}}</h6>
            <p>{{user.about}}</p>
        </div>
        <div class="col-md-3">
            <a href="/profile/edit?id={{user.id}}" class="btn btn-info btn-block">Edit profile</a>
            
            <a href="/profile/delete?id={{user.id}}" class="btn btn-info btn-block">Delete account</a>
        </div>
    </article>

    <article class="row justify-content-center user-contents">
        <div class="col-md-4 user-columns">
            <a href="/profile/watchlist"><h5>Watchlist</h5></a>
            <hr>
            <div id="user-watchlist">

            </div>
        </div>
        <div class="col-md-4 user-columns">
            <a href="/profile/likes"><h5>Likes</h5></a>
            <hr>
            <div id="user-likes">
            
            </div>
        </div>
        <div class="col-md-4 user-columns">
            <a href="/profile/seen"><h5>Seen</h5></a>
            <hr>
            <div id="user-seen">
            
            </div>
        </div>
    </article>

</section>