<section class="container">
    <article class="row">
        <div class="col user">
            <h2>Welcome to your liked list, {{theUser.name}}</h2>
            <br>
            <a href="/profile/watchlist?id={{theUser.id}}" class="redirect">Watchlist</a>
            <a href="/profile/seen?id={{theUser.id}}" class="redirect">Seen</a>
            <a href="/profile" class="redirect">Profile</a>
            <hr>
            {{!-- <a href="">Show all</a>
            <a href="">Show only movies</a>
            <a href="">Show only series</a> --}}
        </div>
    </article>
    <article class="row">

        {{#if apiData}}
        <div class="col-md-6">
            {{#each moviesLK}}
            <div class="card">
                <a href="/movies/{{this.db_id}}">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{this.poster_path}}"
                        alt="{{this.title}} poster">
                    <h6 class="card-body">{{this.title}}</h6>
                </a>
            </div>
            {{/each}}
        </div>
        <div class="col-md-6">
            {{#each seriesLK}}
            <div class="card">
                <a href="/tv/{{this.db_id}}">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{this.poster_path}}"
                        alt="{{this.name}} poster">
                    <h6 class="card-body">{{this.name}}</h6>
                </a>
            </div>
            {{/each}}
        </div>
        {{/if}}

        {{#if seedsData}}
        <div class="col-md-6">
            {{#each theUser.watchlist.movies}}
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{this.poster_path}}"
                    alt="{{this.title}} poster">
                <h6 class="card-body">{{this.title}}</h6>
            </div>
            {{/each}}
        </div>
        <div class="col-md-6">
            {{#each theUser.watchlist.series}}
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{this.poster_path}}"
                    alt="{{this.title}} poster">
                <h6 class="card-body">{{this.title}}</h6>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </article>
</section>