<section class="container">

    <article class="row justify-content-center">
        <div class="col">
            <h2>Welcome {{theUser.name}}</h2>
            <hr>
        </div>
    </article>

    <article class="row justify-content-center user-details">
        <div class="col-md-10 user-info">
            {{#if theUser.img}}
            <figure>
                <img src="{{theUser.img}}" alt="{{theUser.name}} profile picture">
            </figure>
            {{/if}}
            <div>
                <h6>{{theUser.email}}</h6>
                <p>{{theUser.about}}</p>
            </div>
        </div>
        <div class="col-md-2 buttons">
            <a href="/profile/edit?id={{theUser.id}}" class="btn btn-info btn-block">Edit profile</a>
            <a href="/profile/delete?id={{theUser.id}}" class="btn btn-danger btn-block">Delete account</a>
        </div>
    </article>

    <article class="row user-add-btn">
        <div class="col btn-add-new">
            {{#if moviesListEmpty}}
            <a href="/movies" class="btn btn-info">Add new movies</a>
            {{/if}}

            {{#if seriesListEmpty}}
            <a href="/series" class="btn btn-info">Add new series</a>
            {{/if}}
        </div>
    </article>


    <article class="row justify-content-center user-contents">

        {{#if seedsData}}
        <div class="col-md-4 user-columns">
            <a href="/profile/watchlist?id={{theUser.id}}">
                <p>Last added to</p>
                <h5>Watchlist</h5>
            </a>
            <hr>
            <div id="user-watchlist" class="row">

                {{>listMovieCardSeed list=lastMovieWL}}

                {{>listSeriesCardSeed list=lastSeriesWL}}

            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/likes?id={{theUser.id}}">
                <p>Last added to</p>
                <h5>Likes</h5>
            </a>
            <hr>
            <div id="user-likes" class="row">

                {{>listMovieCardSeed list=lastMovieLK}}

                {{>listSeriesCardSeed list=lastSeriesLK}}

            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/seen?id={{theUser.id}}">
                <p>Last added to</p>
                <h5>Seen</h5>
            </a>
            <hr>
            <div id="user-seen" class="row">

                {{>listMovieCardSeed list=lastMovieSN}}

                {{>listSeriesCardSeed list=lastSeriesSN}}

            </div>
        </div>
        {{/if}}

        {{#if apiData}}
        <div class="col-md-4 user-columns">
            <a href="/profile/watchlist?id={{theUser.id}}">
                <p>Last added to</p>
                <h5>Watchlist</h5>
            </a>
            <hr>
            <div id="user-watchlist" class="row">

                {{>listMovieCardAPI list=lastMovieWL}}

                {{>listSeriesCardAPI list=lastSeriesWL}}

            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/likes?id={{theUser.id}}">
                <p>Last added to</p>
                <h5>Likes</h5>
            </a>
            <hr>
            <div id="user-likes" class="row">

                {{>listMovieCardAPI list=lastMovieLK}}

                {{>listSeriesCardAPI list=lastSeriesLK}}

            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/seen?id={{theUser.id}}">
                <p>Last added to</p>
                <h5>Seen</h5>
            </a>
            <hr>
            <div id="user-seen" class="row">

                {{>listMovieCardAPI list=lastMovieSN}}

                {{>listSeriesCardAPI list=lastSeriesSN}}

            </div>
        </div>
        {{/if}}

    </article>

</section>