<section class="container">
    <article class="row">
        <div class="col user">
            <h2>Welcome to your watchlist, {{user.name}}</h2>
            <br>
            <a href="/profile/likes?id={{user.id}}" class="redirect">Likes</a>
            <a href="/profile/seen?id={{user.id}}" class="redirect">Seen</a>
            <a href="/profile" class="redirect">Profile</a>
            <hr>
            {{!-- <a href="">Show all</a>
            <a href="">Show only movies</a>
            <a href="">Show only series</a> --}}
        </div>
    </article>
    <article class="row">
        {{#each user.watchslist}}
        <div class="col-md-3">
            <img src="{{this.poster_path}}" alt="{{this.title}} poster">
            <h6>{{this.title}}</h6>
        </div>
        {{/each}}
    </article>
</section>