<section class="container">

    <article class="row justify-content-center">
        <div class="col user">
            {{!-- <figure>
                <img src="{{user.img}}" alt="{{user.name}} profile picture">
            </figure> --}}
            <h2>Welcome {{theUser.name}}</h2>
            <hr>
        </div>
    </article>

    <article class="row justify-content-center">
        <div class="col-md-9">
            <h6>{{theUser.email}}</h6>
            <p>{{theUser.about}}</p>
        </div>
        <div class="col-md-3">
            <a href="/profile/edit?id={{theUser.id}}" class="btn btn-info btn-block">Edit profile</a>

            <a href="/profile/delete?id={{theUser.id}}" class="btn btn-danger btn-block">Delete account</a>
        </div>
    </article>

    {{#if moviesListEmpty}}
    <article class="row justify-content-right">
        <div class="col-2">
            <a href="/movies" class="btn btn-info btn-block">Add new movies</a>
        </div>
    </article>
    {{/if}}
    {{#if seriesListEmpty}}
    <article class="row justify-content-rigth">
        <div class="col-2">
            <a href="/series" class="btn btn-info btn-block">Add new series</a>
        </div>
    </article>
    {{/if}}

    <article class="row justify-content-center user-contents">

        {{#if seedsData}}
        <div class="col-md-4 user-columns">
            <a href="/profile/watchlist?id={{theUser.id}}">
                <h6><i>Last added to</i></h6>
                <h5>Watchlist</h5>
            </a>
            <hr>
            <div id="user-watchlist" class="row">
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{theUser.seedslists.watchlist.movies.0.poster_path}}"
                        alt="{{theUser.seedslists.watchlist.movies.0.title}}">
                    <a href="/movies/{{theUser.seedslists.watchlist.movies.0.id}}">
                        <h6>{{theUser.seedslists.watchlist.movies.0.title}}</h6>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{theUser.seedslists.watchlist.series.0.poster_path}}"
                        alt="{{theUser.seedslists.watchlist.series.0.title}}">
                    <a href="/series/{{theUser.seedslists.watchlist.series.0.id}}">
                        <h6>{{theUser.seedslists.watchlist.series.0.title}}</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/likes?id={{theUser.id}}">
                <h6><i>Last added to</i></h6>
                <h5>Likes</h5>
            </a>
            <hr>
            <div id="user-likes" class="row">
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{theUser.seedslists.likes.movies.0.poster_path}}"
                        alt="{{theUser.seedslists.likes.movies.0.title}}">
                    <a href="/movies/{{theUser.seedslists.likes.movies.0.id}}">
                        <h6>{{theUser.seedslists.likes.movies.0.title}}</h6>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{theUser.seedslists.likes.series.0.poster_path}}"
                        alt="{{theUser.seedslists.likes.series.0.title}}">
                    <a href="/series/{{theUser.seedslists.likes.series.0.id}}">
                        <h6>{{theUser.seedslists.likes.series.0.title}}</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/seen?id={{theUser.id}}">
                <h6><i>Last added to</i></h6>
                <h5>Seen</h5>
            </a>
            <hr>
            <div id="user-seen" class="row">
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{theUser.seedslists.seen.movies.0.poster_path}}"
                        alt="{{theUser.seedslists.seen.movies.0.title}}">
                    <a href="/movies/{{theUser.seedslists.seen.movies.0.id}}">
                        <h6>{{theUser.seedslists.seen.movies.0.title}}</h6>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{theUser.seedslists.seen.series.0.poster_path}}"
                        alt="{{theUser.seedslists.seen.series.0.title}}">
                    <a href="/series/{{theUser.seedslists.seen.series.0.id}}">
                        <h6>{{theUser.seedslists.seen.series.0.title}}</h6>
                    </a>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if apiData}}
        <div class="col-md-4 user-columns">
            <a href="/profile/watchlist?id={{theUser.id}}">
                <h6><i>Last added to</i></h6>
                <h5>Watchlist</h5>
            </a>
            <hr>
            <div id="user-watchlist" class="row">
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{lastMovieWL.poster_path}}" alt="{{lastMovieWL.title}}">
                    <a href="/movies/{{lastMovieWL.id}}">
                        <h6>{{lastMovieWL.title}}</h6>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{lastSeriesWL.poster_path}}" alt="{{lastSeriesWL.title}}">
                    <a href="/series/{{lastSeriesWL.id}}">
                        <h6>{{lastSeriesWL.title}}</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/likes?id={{theUser.id}}">
                <h6><i>Last added to</i></h6>
                <h5>Likes</h5>
            </a>
            <hr>
            <div id="user-likes" class="row">
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{lastMovieLK.poster_path}}" alt="{{lastMovieLK.title}}">
                    <a href="/movies/{{lastMovieLK.id}}">
                        <h6>{{lastMovieLK.title}}</h6>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{lastSeriesLK.poster_path}}" alt="{{lastSeriesLK.title}}">
                    <a href="/series/{{lastSeriesLK.id}}">
                        <h6>{{lastSeriesLK.title}}</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 user-columns">
            <a href="/profile/seen?id={{theUser.id}}">
                <h6><i>Last added to</i></h6>
                <h5>Seen</h5>
            </a>
            <hr>
            <div id="user-seen" class="row">
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{lastMovieSN.poster_path}}" alt="{{lastMovieSN.title}}">
                    <a href="/movies/{{lastMovieSN.id}}">
                        <h6>{{lastMovieSN.title}}</h6>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="https://image.tmdb.org/t/p/w300{{lastSeriesSN.poster_path}}" alt="{{lastSeriesSN.title}}">
                    <a href="/series/{{lastSeriesSN.id}}">
                        <h6>{{lastSeriesSN.title}}</h6>
                    </a>
                </div>
            </div>
        </div>
        {{/if}}

    </article>

</section>