<section class="container">

    <article class="row justify-content-center">

        <div class="col-md-3">

            {{#if thisActor.profile_path}}
            <img src='https://image.tmdb.org/t/p/w300{{thisActor.profile_path}}' alt="{{thisActor.name}}">
            {{/if}}

            {{#unless thisActor.profile_path}}
            <img src='/images/personimg.png' alt="{{thisActor.name}}">
            {{/unless}}


        </div>

        <div class="col-md-8 details-card">

            <h2>{{thisActor.name}}</h2>

            <p><b> Born:</b> {{birthday.month}} {{birthday.day}}, {{birthday.year}} in {{thisActor.place_of_birth}}</p>

            {{#if deathday}}
            <p><b> Death:</b> {{deathday.month}} {{deathday.day}}, {{deathday.year}}</p>
            {{/if}}


            <p>{{thisActor.biography}}</p>

        </div>

    </article>

    <br>

    <article class="row justify-content-center">

        {{#each topPopularMovies}}

        {{>relMovieCard}}

        {{/each}}

    </article>

</section>