<section class="container">
    <article class="row justify-content-center">
        <div class="col-md-3"><img class="card-img" src='https://image.tmdb.org/t/p/w300{{profile_path}}'
                alt="actor image cap" style="width: 100%"></div>
        <div class="col-md-8">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h2 class="card-title">{{name}}</h2>
                    <p class="card-text">Born: {{birthday}}</p>
                    {{#if deathday}}
                    <p class="card-text">Death: {{deathday}}</p>
                    {{/if}}
                    <p class="card-text">{{place_of_birth}}</p>
                    <p class="card-text">{{biography}}</p>

                </div>
            </div>

        </div>

    </article>

</section>