<section class="container">

    <article class="row justify-content-center">

        <div class="col-md-3">

            {{#if thisDirector.profile_path}}
            <img src='https://image.tmdb.org/t/p/w300{{thisDirector.profile_path}}' alt="{{thisDirector.name}}">
            {{/if}}

            {{#unless thisDirector.profile_path}}
            <img src='/images/personimg.png' alt="{{thisDirector.name}}">
            {{/unless}}

        </div>

        <div class="col-md-8 details-card">

            <h2>{{thisDirector.name}}</h2>

            <p><b> Born:</b> {{birthday.month}} {{birthday.day}}, {{birthday.year}} in {{thisDirector.place_of_birth}}
            </p>

            {{#if deathday}}
            <p><b> Death:</b> {{deathday.month}} {{deathday.day}}, {{deathday.year}}</p>
            {{/if}}


            <p>{{thisDirector.biography}}</p>

        </div>

    </article>

</section>