<section class="container">
    <article class="row justify-content-center">
        <div class="col-md-3 details">
            <img class="card-img" src='https://image.tmdb.org/t/p/w300{{director.profile_path}}' alt="actor image cap">
        </div>
        <div class="col-md-8">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <h2 class="card-title">{{director.name}}</h2>
                    <p class="card-text">Born: {{birthday.month}} {{birthday.day}}, {{birthday.year}} in
                        {{director.place_of_birth}}</p>
                    {{#if deathday}}
                    <p class="card-text">Death: {{deathday.month}} {{deathday.day}}, {{deathday.year}}</p>
                    {{/if}}
                    <p class="card-text">{{director.biography}}</p>

                </div>
            </div>

        </div>

    </article>

</section>