<section class="container">

    <article class="row justify-content-center">

        <div class="col-md-3">

            {{#if thisSerie.poster_path}}
            <img src='https://image.tmdb.org/t/p/w300{{thisSerie.poster_path}}' alt="{{thisSerie.name}}">
            {{/if}}

            {{#unless thisSerie.poster_path}}
            <img src='/images/noimage.png' alt="{{thisSerie.name}}">
            {{/unless}}

        </div>

        <div class="col-md-8 details-card">

            <h2>{{thisSerie.name}}</h2>

            {{#if thisSerie.tagline}}
            <h6>{{thisSerie.tagline}}</h6>
            {{/if}}

            <div class="emphasis1">
                {{#each thisSerie.genres}}
                <p>{{name}}</p>
                {{/each}}
            </div>

            <p><b> Released:</b> {{first_air_date.month}} {{first_air_date.day}}, {{first_air_date.year}}</p>
            <p>{{thisSerie.overview}}</p>

            <div class="emphasis2">
                <p><b>Seasons:</b> {{thisSerie.number_of_seasons}}</p>
                <p><b>Episodes:</b> {{thisSerie.number_of_episodes}}</p>
            </div>

        </div>

        {{#if isLogged}}
        <div class="col-md-1">

            <form action="/series/{{thisSerie.id}}?add=watchlist" method="POST">
                <button id="btn-watchlist" type="submit" class="btn btn-info btn-block" data-toggle="button"
                    aria-pressed="false"><i class="fas fa-plus"></i></button>
            </form>
            <br>
            <form action="/series/{{thisSerie.id}}?add=likes" method="POST">
                <button id="btn-like" type="submit" class="btn btn-info btn-block" data-toggle="button"
                    aria-pressed="false"><i class="far fa-heart"></i></button>
            </form>
            <br>
            <form action="/series/{{thisSerie.id}}?add=seen" method="POST">
                <button id="btn-seen" type="submit" class="btn btn-info btn-block" data-toggle="button"
                    aria-pressed="false"><i class="fas fa-check"></button>
            </form>

        </div>
        {{/if}}

    </article>

    <br>

    <article class="row justify-content-center">

        {{#each topPopularActors}}

        {{>relActorCard}}

        {{/each}}

    </article>

</section>